@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Rubik', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
}

.card{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  width: 400px;
  height: 200px;
  background-color: #333;
  border-radius: 10px;
  margin: 1rem 0;
  transform: translateX(400%);
  transition: transform .4s ease;
}

.card:nth-of-type(even){
  transform: translateX(-400%);
}

.show{
  transform: translateX(0) !important;
}

.card h2{
  font-size: 3rem;
}