@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

:root{
  --main-color: #f5f;
  --secondary-color: rgb(255, 214, 255);
}
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Rubik', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  background-color: aliceblue;
}

.container{
  text-align: center;
}

.progress-container{
  display: flex;
  justify-content: space-between;
  position: relative;
  max-width: 350px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 30px;
}
.progress-container::before{
  content: '';
  background-color: rgb(255, 214, 255);
  position: absolute;
  top: 50%;
  left:0;
  transform: translateY(-50%);
  height: 4px;
  width: 100%;
  z-index: -1;
}

.progress{
  background-color: var(--main-color);
  position: absolute;
  top: 50%;
  left:0;
  transform: translateY(-50%);
  height: 4px;
  width: 0%;
  z-index: -1;
  transition: .4s ease;
}

.circle{
  background-color: #fff;
  color: #999;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid var(--secondary-color);
  transition: .4s ease;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.circle.active {
  border-color: var(--main-color);
}

.btn{
  background-color: var(--main-color);
  color: white;
  border: 0;
  border-radius: 6px;
  cursor: pointer;
  padding: 8px 30px;
  margin: 5px;
  font-size: 14px;
}

.btn:active{
  transform: scale(0.98);
}

.btn:focus{
  outline: 0;
}

.btn:disabled{
  background-color: var(--secondary-color);
  cursor: not-allowed;
}