@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root{
  --primary-color: #000;
  --secondary-color: #fff;
}

html{
  transition: all 0.5s ease-in;
}

html.dark{
  --primary-color: #fff;
  --secondary-color: #333;
}

html.dark{
  background-color: #111;
  color: var(--primary-color)
}

body{
  font-family: 'Rubik', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}

.toggle{
  cursor: pointer;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border: 0;
  border-radius: 4px;
  padding: 8px 12px;
  position: absolute;
  top: 100px;
}

.toggle:focus{
  outline: none;
}

.clock-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.clock{
  position: relative;
  width: 200px;
  height: 200px;
  background-color: #333;
  border-radius: 50%;
}

.needle{
  background-color: var(--secondary-color);
  position: absolute;
  bottom: 50%;
  left: 50%;
  height: 80px;
  width: 3px;
  transform-origin: bottom center;
  transform: translate(-50%,0);
  border-radius: 10px;
}

.needle.hour{
  height: 40px;
}
.needle.minute{
  height: 60px;
}

.center-point{
  background-color: var(--primary-color);
  width: 10px;
  height: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  border-radius: 50%;
}

.time{
  font-size: 60px;
}

.date{
  color: #aaa;
  font-size: 1.2rem;
  letter-spacing: .3rem;
  text-transform: uppercase;
}

.date .circle{
  display: inline-flex;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border-radius: 50%;
  height: 18px;
  width: 18px;
  align-items: center;
  justify-content: center;
  line-height: 1.2rem;
  transition: all .5s ease-in;
  padding: 1rem;
  letter-spacing: normal;
}